.conteinerCard{
    width: 350px;
    height: 400px;
    margin-right:5pxrem;
    margin-left:5pxrem;
    margin-top: 2rem;
    background: rgba(251, 251, 251, 0.516);
    border-radius: 15%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    filter: drop-shadow(8px 7px 4px #000);
}
.recipeImg{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(202, 201, 201, 0.3);
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.92));
    animation:jello-horizontal .9s both;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
.imageTop{
    position: absolute;
    width: 350px;
    height: auto;
    top: 13rem;
    border-radius: 15%;
    opacity: 0.3;
}
.conteinrData{
    width: 350px;
    height: 400px;
    background: rgb(47,235,226);
    background: radial-gradient(circle, rgb(48, 88, 86) 0%, rgb(22, 34, 38) 100%);
    border-radius: 85% 15% 15% 15% / 85% 15% 15% 15% ;
    filter: drop-shadow(-1px -1px 3px #000);
    padding-left: 1rem;
}
.titleCard{
    position: absolute;
    top: 7.5rem;
    right: 1rem;
    font-family: 'Righteous', cursive;
    color: rgb(235, 234, 234);
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: right
}
.idCard{
    position: absolute;
    right: 1.5rem;
    font-family: 'Merienda One', cursive;
    font-size: 1.5rem;
    color: rgb(130, 185, 164);
}
.conteinrSubData{
    position: absolute;
    top: 12rem;
    left: 7rem;
    color: rgb(235, 234, 234);
    font-family: 'Kodchasan', sans-serif;
    text-align: center;
}
.pTitle{
    margin-top: -3rem;
    font-size: 15px;
}
.pText{
    font-size: 40px;
}
.containerButton{
    position: absolute;
    bottom: 1rem;
    left: 5rem;
}
.buttonCard{
    margin: 5px;
    font-size:12px;
    font-family:Arial;
    width:auto;
    height:28px;
    border-width:1px;
    color:#ffffff;
    border-color:#393838;
    font-weight:bold;
    border-top-left-radius:9px;
    border-top-right-radius:9px;
    border-bottom-left-radius:9px;
    border-bottom-right-radius:9px;
    box-shadow:inset 0px 1px 0px 0px #474646;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#a5a5a5, #464545);
    margin-top: 10px;
}
.buttonCard:hover{
    color:#ffffff;
    border-color:#5d5b5b;
    box-shadow:inset 0px 1px 0px 0px #474646;
    text-shadow:inset 0px 1px 0px #292929;
    background:linear-gradient(#214844, #106a6a);
}
.buttonCard1{
    margin: 5px;
    font-size:12px;
    font-family:Arial;
    width:60px;
    height:60px;
    
    color:#ffffff;
    border-color:#393838;
    font-weight:bold;
    border-radius: 50%;
    box-shadow:inset 0px 1px 0px 0px #474646;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#a5a5a5, #464545);

}
.buttonCard1:hover{
    color:#ffffff;
    border-color:#5d5b5b;
    box-shadow:inset 0px 1px 0px 0px #474646;
    text-shadow:inset 0px 1px 0px #292929;
    background:linear-gradient(#214844, #106a6a);
}



@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}